extends layout/main-layout.pug


block content
    main.container
        h1 404 - Page not found
        p Please 
            a(
                href='/',
                title='Go to home page') go back to the shop page.